@page
@model IdolGroup.Pages.NewsCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jobs.NewsCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.NewsCat.JobsCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jobs.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jobs.JobsDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.JobsDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jobs.GpsLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.GpsLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jobs.GpsLng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.GpsLng)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Jobs.JobsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
