@page
@model IdolGroup.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "เพิ่มงานใหม่";
}

<h2>เพิ่มงานใหม่</h2>

<div>
    <h4>มีข้อมูลดังนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดของงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.NewsCat.JobsCategoryID)
        </dd>
        <dt>
            วันที่ของงาน(แสดง)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.ReportDate)
        </dd>
        <dt>
            รายละเอียดของงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.JobsDetail)
        </dd>
        <dt>
            ละติจูดของงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.GpsLat)
        </dd>
        <dt>
            ลองติจูดของงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jobs.GpsLng)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Jobs.JobsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
