@page
@model IdolGroup.Pages.NewsCategoryAdmin.EditModel

@{
    ViewData["Title"] = "เพิ่มงานใหม่";
}

<h2>เพิ่มงานใหม่</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Jobs.JobsID" />
            <div class="form-group">
                เลือกหมวดงาน
                <select asp-for="Jobs.JobsCategoryID" class="form-control" asp-items="ViewBag.JobsCategoryID"></select>
                <span asp-validation-for="Jobs.JobsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่ของงาน(แสดง)
                <input asp-for="Jobs.ReportDate" class="form-control" />
                <span asp-validation-for="Jobs.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดของงาน
                <input asp-for="Jobs.JobsDetail" class="form-control" />
                <span asp-validation-for="Jobs.JobsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ละติจูดของงาน
                <input asp-for="Jobs.GpsLat" class="form-control" />
                <span asp-validation-for="Jobs.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ลองติจูดของงาน
                <input asp-for="Jobs.GpsLng" class="form-control" />
                <span asp-validation-for="Jobs.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
