@page
@model IdolGroup.Pages.NewsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "ระบบแสดงเวลางาน";
}

<h2>ระบบแสดงเวลางาน</h2>

<p>
    <a asp-page="Create">เพิ่มงานใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                หมวดของงาน
            </th>
            <th>
                วันที่ของงาน
            </th>
            <th>
                รายละเอียดของงาน
            </th>
            <th>
                ละติจูดของงาน
            </th>
            <th>
                ลองติจูดของงาน
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jobs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
