﻿@page 
@model IndexModel 
@{ 
    ViewData["Title"] = "ระบบแสดงตารางงานของไอดอล"; 
    } 
    <div class="jumbotron"  style="background-color:#00FFFF">
        <center><h2>ระบบแสดงตารางงานของไอดอล</h2><center>
    </div> 
        <body style="background-color:#FFFFFF">
        <div class="row"> 
            <table class="table">  
                <thead> 
                    <tr> 
                        <th>วันที่ของงาน</th> <th>รายละเอียดของงาน</th> 
                    </tr> 
                </thead> 
            <tbody> 
        @foreach (var newsItem in Model.Jobs) 
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => newsItem.ReportDate) </td> 
                <td> @Html.DisplayFor(modelItem => newsItem.JobsDetail) </td> 
            </tr> 
        } 
        
        </tbody> 
        </table> 
        </div> 
    
    </body>
    
